*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}
body {
  font-family: Arial;
  background: #f5f5f5;
}

.container {
  padding: 20px;
}

.form input {
  margin-right: 8px;
}

table {
  width: 100%;
  margin-top: 20px;
  background: white;
}

tr {
  cursor: pointer;
}

.up {
  color: green;
  font-weight: bold;
}

.down {
  color: red;
  font-weight: bold;
}

.modal {
  position: fixed;
  top: 10%;
  left: 15%;
  width: 70%;
  background: white;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,.3);
}
